# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
data/

# Jupyter Notebook
.ipynb_checkpoints

# Data files (si trop volumineux)
# data/raw/*.idx3-ubyte
# data/raw/*.idx1-ubyte

# Results temporaires
results/temp/
*.tmp

# macOS
.DS_Store

# IDE
.vscode/
.idea/